@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');

.header {
    text-align: center;
}

nav {
    text-align: end;

}

ul#contacts {
    list-style: none;

}

#contacts li {
    display: inline-block;
    padding: 5px;


}

footer {
    text-align: center;
    background-color: lightseagreen;
}